<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2"
     xmlns="http://xmlns.jcp.org/xml/ns/persistence"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
     http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/persistence/persistence_2_2.xsd">
     <!-- en enlace puede fallar no se si esta bien-->
     
    <persistence-unit
        name="TestPersistence"
        transaction-type="RESOURCE_LOCAL">
 
 		<class></class> 
        <properties>          
            <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
            <!-- url quizas necesita tcp:// al principio-->
            <property name="javax.persistence.jdbc.url" value="127.0.0.1"/>
            <property name="javax.persistence.jdbc.username" value="root"/>
            <property name="javax.persistence.jdbc.password" value=""/>
            <property name="javax.persistence.jdbc.database" value=""/>
        </properties>
    </persistence-unit>
</persistence>